@model youBox.Models.ClothingSurvey

@{
    ViewData["Title"] = "ClothingSurvey";
}

<h1>ClothingSurvey</h1>

<h4>ClothingSurvey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ClothingSurvey">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                What is your normal style?
                <select asp-for="Question1" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Question2" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Question3" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Question4" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Question5" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Question6" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question6" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="Question7" class="form-control" asp-items="ViewBag.Style"></select>
                <span asp-validation-for="Question7" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriberId" class="control-label"></label>
                <select asp-for="SubscriberId" class ="form-control" asp-items="ViewBag.SubscriberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
